*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F1F1F3;
}
main,  header{
    
    margin: 0 192px;
    background-color: #F1F1F3;
}

    /* Fonts */
    .fira-sans {
        font-family: "Fira Sans", serif;
        font-style: normal;
      }

        /* Colors */
        .black-dark1{
            color: #0E0E0E;
        }
        .greeen-dark1{
            background-color: #006A50;
        }
        .green-dark2{
            background-color: #09A15C;
        }
        .green-dark3{
            background-color: #09A15C;
        }
        .green-dark4{
            background-color: #C6E4D6;
        }


        /* Common items */
        .green-btn{
            font-size: 21px;
            border-radius: 9px;
            color: white;
            background-color: #006A50;
        
        }

        .section-title{
            font-size: 48px;
            font-weight: bold;
            color: #0E0E0E;
        }
        .section-item-title{
            font-size: 20px;
            font-weight: bold;
            color: rgb(14, 14, 14);
            opacity: 80%;
        }
        .section-para{
            font-size: 19px;
            font-weight: normal;
            color: #0E0E0E;
            opacity: 70%;
        }



/* Navigation bar Start */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header nav h3{
    font-size: 38px;
    font-weight: bold;
    padding: 37px 0;
}
nav a button{
    background-color: white;
    font-size: 21px;
    color: #006A50;
    font-weight: 600;
    padding: 18px 34px;
    border-radius: 9px;
    border: 1px solid green;
}
/* Navigation bar End */



/* Banner Section Start */
.banner-section{
    display: flex;
    justify-content: space-between;
    height: 672px;
    width: 1536px;
    margin-top: 28px;
    border-radius: 28px;
}
.banner-text{
    height: 391px;
    width: 746px;
}
.banner-subtitle{
    font-size: 24px;
    font-weight: 600px;
    padding: 140px 0 19px 72px;
    opacity: 50%;
}
.banner-title{
    font-size: 67px;
    font-weight: bold;
    padding: 0px 0px 28px 71px;
    margin: 0 0 24px 0;
}
.banner-section div a{
    text-decoration: none;
    margin: 0 0 0 72px;
}
.banner-btn{
    font-size: 21px;
    font-weight: 600;
    padding: 20px 40px;
}

.banner-section img{
    padding: 96px 72px 96px 0;
    height: 480px;
    width: 568px;
}
/* Banner Section End */




/* Pillar Section Start */
.pilar-section > div{
    display: flex;
    gap: 28px;
}
.pillar-items{
    padding: 28px;
    border: 1px solid rgb(14, 14, 14, 15%);
    border-radius: 9px;
    background-color: white;

}
.pilar-section h1{
    margin-top: 96px;
    margin-bottom: 38px;
}
.pillar-item-title{
    margin-top: 28px;
    margin-bottom: 14px;
    opacity: 80%;

}
.pilar-section  p {
    width: 304px;
}
/* Pillar Section End */




/* Vision Section Start */
.vision-flex{
    display: flex;
    gap: 28px;
}
.vision-section h1{
    margin-top: 96px;
    margin-bottom: 28px;
}
.vision-section >p {
    margin-bottom: 38px;
}
.vision-section-itm-title{
    margin: 28px 0 14px 0;
}
.vision-items{
    background-color: rgb(84, 144, 245, 20%);
    border-radius: 16px;
    width: 492px;
    padding: 38px;
}
.vision-item-btn{
    color: white;
    font-size: 16px;
    font-weight: 600;
    background-color: #5490F5;
    padding: 13px 24px 13px 24px;
    border-radius: 8px;
    border: none;
    margin-top: 28px;
}
.vision-items >p {
    width: 415px;
}
/* card-2 */
.vision-items2{
    background-color: #C6E4D6;
    border-radius: 16px;
    width: 492px;
    padding: 38px;
}
.vision-item-btn2{
    color: white;
    font-size: 16px;
    font-weight: 600;
    background-color: #09A15C;
    padding: 13px 24px 13px 24px;
    border-radius: 8px;
    border: none;
    margin-top: 57px;
}
/* card-3 */
.vision-items3{
    background-color: #F7EBCF;
    border-radius: 16px;
    width: 492px;
    padding: 38px;
}
.vision-item-btn3{
    color: white;
    font-size: 16px;
    font-weight: 600;
    background-color: #FFC239;
    padding: 13px 24px 13px 24px;
    border-radius: 8px;
    border: none;
    margin-top: 76px;
}
/* Vision Section End */

/* Dr. Younus Section Start */
.dr-younus-section{
    padding: 57px 28px;
    margin-top: 38px;
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 30px 35px;
    background-color: white;
    border-radius: 16px;
    
}
.dr-younus-section h3{
    margin-top: 14px;
    margin-bottom: 4px;
}
/* Dr. Younus Section End */